@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 29% 24%;

    --card: 0 0% 100%;
    --card-foreground: 210 29% 24%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 29% 24%;

    --primary: 210 29% 24%;
    --primary-foreground: 0 0% 100%;

    --secondary: 149 64% 41%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 16% 90%;
    --muted-foreground: 210 8% 40%;

    --accent: 210 16% 90%;
    --accent-foreground: 210 29% 24%;

    --destructive: 6 78% 57%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 16% 82%;
    --input: 210 16% 82%;
    --ring: 210 29% 24%;

    --radius: 0.5rem;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    @apply antialiased;
}s
