<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReverseProxyLanguage" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8050/{R:1}" /> 
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>