{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <h1>Food List</h1>
  <a href="/nutrition/add-food" class="btn btn-link">Add New Food</a>
  <div class="table-responsive mt-3">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Brand</th>
          <th>Barcode</th>
          <th>Calories</th>
          <th>Protein</th>
          <th>Carbs</th>
          <th>Fat</th>
          <th>Serving Size</th>
        </tr>
      </thead>
      <tbody>
        {% for food in foods %}
        <tr>
          <td>{{ food.name }}</td>
          <td>{{ food.brand }}</td>
          <td>{{ food.barcode }}</td>
          <td>{{ food.calories }}</td>
          <td>{{ food.protein }}</td>
          <td>{{ food.carbs }}</td>
          <td>{{ food.fat }}</td>
          <td>{{ food.serving_size }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
